name: Deploy para GitHub Pages

on:
  push:
    branches: [ "main" ] #Executa automaticamente quando algo é enviado para main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages


    steps:
      - name: Clonar repositório
        uses: actions/checkout@v4

      - name: Configurar GitHub Pages
        uses: actions/configure-pages@v5 #Prepara configurações internas do Pages (tokens, ambiente etc.)

      - name: Fazer upload dos arquivos
        uses: actions/upload-pages-artifact@v3 #Aqui o workflow pega tudo do diretório atual (.) e 
        # faz upload como artefato. Esse artefato será publicado no próximo passo.
        with:
          path: '.'

      - name: Publicar no GitHub Pages
        uses: actions/deploy-pages@v4 #Esse passo pega o artefato enviado e realmente publica no GitHub Pages
